body {
    background-color: #03001C;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.flex-button {
    display: flex;

    justify-content: center;
  align-items: center;
  background-color: #301E67;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 2px;
}

.pic, .inline1 {
    display: inline-block;
  }

.inline2, .joined {
    display: inline-block;
}

.incline2 {
    margin-left: 70px;
}

.inline1 {
    color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.joined {
    margin-top: 45px;
}

.pic {
    width: 100px; 
    border-radius: 70px;
  }

#username {
    width: 450px;
    background-color: #301E67; 
    border: none;
}

#username::placeholder {
  color: white;
}

#user-data {
  /* display: none; */
  background-color: #301E67;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* width: 500px; */
  padding-right: 20px;
}

/* CSS for headings */
h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* CSS for username */
.username {
  font-size: 16px;
  margin-bottom: 13px;
}

/* CSS for bio */
.bio {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

/* CSS for other user data */
p {
  font-size: 14px;
  margin-bottom: 5px;
}

/* CSS for SVG icons */
svg {
  margin-right: 5px;
  vertical-align: middle;
}

.repo-followers {
    display: flex;
    align-items: center;
    background-color: #03001C;
    color: white;
    width: 400px;
    height: 60px;
    padding: 10px;
    margin-left: 85px;
    border-radius: 5px;
}

.p1 {
    padding-right: 90px;
}

.grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-left: 90px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

.grid-container p {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 5px;
        color: white;
    }

.joined {
    color: white;
}


#button {
    height: 35px;
    width: 90px;
    background-color: #6C00FF;
    border-radius: 8px;
    color: white;
}

a {
    text-decoration: none;
  }

.repo-followers .p1 {
  font-size: 11px; 
}

.repo-followers strong {
  font-size: 18px; 
}